
{{ define "main" }}
<div class="content-header">
    <h1>{{ .Site.Params.blog.list_title | default "Latest Blog Posts" }}</h1>
</div>

<div class="blog-list-view">
    {{ range .Pages }}
    <article class="blog-post-item">
        <h2 class="blog-post-title"><a href="{{ .Permalink }}" style="color: var(--accent-color); text-decoration: none;">{{ .Title }}</a></h2>
        <div class="blog-post-meta">{{ .Site.Params.blog.published_text | default "Published on" }} {{ .Date.Format (.Site.Params.dateFormatToUse | default "January 2, 2006") }} | {{ .ReadingTime }} {{ .Site.Params.blog.reading_time_text | default "min read" }}{{ if .Params.tags }} | {{ .Site.Params.blog.tags_text | default "Tags" }}: {{ delimit .Params.tags ", " }}{{ end }}</div>
        <p class="blog-post-summary">{{ .Summary }}</p>
    </article>
    {{ end }}
</div>
{{ end }}
